<!--Player element (not applicable for table)-->
<div *ngIf="playerType != 'table'">
    <!--Player icon and name-->
    <div class="{{playerClass}}">
        <div class="player player_icon">
            <img class="{{playerClass}}_img" src="../../assets/images/user.png">
        </div>
        <div class="player player_name">
            <h4 class="{{playerClass}}_title">{{player.name}}</h4>
        </div>
    </div>

    <!--Player timer-->
    <div *ngIf="startTimer" class="timer">
        <svg class="timer_svg" viewBox="0 0 100 100">
            <circle cx="50" cy="50" r="25" class="timer_circle"></circle>
            <path 
                id="timer_{{playerClass}}"
                stroke-dasharray="157 157"
                class="timer_remaining"
                d="M 50, 50 m -25, 0 a 25,25 0 1,0 50,0 a 25,25 0 1,0 -50,0">
            </path>
        </svg>
        <span class="timer_value">{{timer.timeRemaining}}</span>
    </div>
</div>

<!--Player Hand-->
<div [ngClass]="getHandClass()">
    <div fxLayout="row" fxLayoutGap="-10px">
        <div *ngFor="let card of cards; let i = index">
            <app-card fxFlex card_number="{{card.toString()}}" player_type="{{playerType}}" open="{{openCards[i]}}"></app-card>
        </div>        
    </div>
</div>
