* {
}

// .table {
//     text-align: center;
//     column-width: fit-content;
// }

.table_hand {
    position: relative;
}

.player_hand {
    position: absolute;
    bottom: -75%;
    right: 0;
    z-index: 2;
}

.player1 {
    &_title {
        top: 0
    }

    &_cards {
        position: absolute;
        bottom: 0;
        z-index: 2;
    }
}

.player2 {
    &_title {
        top: 0;
        right: 10%;
    }

    &_cards {
        position: absolute;
        bottom: 10%;
        left: 20%;
        z-index: 2;
    }
}

.player3 {
    &_title {
        right: -10%;
    }

    &_cards {
        position: absolute;
        bottom: 18%;
        left: 5%;
        z-index: 2;
    }
}

.player4 {
    &_title {
        right: 0;
    }

    &_cards {
        position: absolute;
        left: 2%;
        z-index: 2;
    }
}

.player5 {
    &_title {
        bottom: -20%;
        right: -20%;
    }

    &_cards {
        position: absolute;
        top: 18%;
        left: 5%;
        z-index: 3;
    }
}

.player6 {
    &_title {
        bottom: 0;
        right: 10%;
    }

    &_cards {
        position: absolute;
        top: 10%;
        left: 20%;
        z-index: 2;
    }
}

.player7 {
    &_title {
        bottom: 0;
        left: 5%;
    }

    &_cards {
        position: absolute;
        top: 10%;
        right: 22%;
        z-index: 2;
    }
}

.player8 {
    &_title {
        bottom: -20%;
        left: -20%;
    }

    &_cards {
        position: absolute;
        top: 18%;
        right: 5%;
        z-index: 2;
    }
}

.player9 {
    &_title {
        left: 0
    }

    &_cards {
        position: absolute;
        right: 2%;
    }
}

.player10 {
    &_title {
        left: -10%
    }

    &_cards {
        position: absolute;
        bottom: 18%;
        right: 5%;
        z-index: 2;
    }
}

.player11 {
    &_title {
        top: 0;
        left: 5%;
    }

    &_cards {
        position: absolute;
        bottom: 10%;
        right: 22%;
        z-index: 2;
    }
}

.dealer {
    &_title {
        bottom: 0;
    }
}

.screen {
    position: absolute;
    width: 100%;
    height: 100%;
}

.row1, .row2, .row3 {
    position: relative;
    width: 100%;
    display: flex;

    &--center {
        align-items: center;
        justify-content: center;
    }
}

.row1 {
    height: 15%;
}

.row2 {
    height: 60%;
}

.row3 {
    height: 25%;
}

.player {
    position: relative;
    height: 100%;
    width: 20%;

    &--center {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.table {
    position: relative;
    height: 100%;
    width: 60%;

    display: flex;
    align-items: center;
    justify-content: center;

    .table_image {
        position: absolute;
        width: 100%;
        height: 100%;
    }

}

h2 {
    position: absolute;
}
