<div class="screen">
    <div class="row1">
        <div class="player">
        </div>
        <div class="player">
            <h2 *ngIf="checkPlayer(4)" class="player6_title">{{players[4].name}}</h2>
        </div>
        <div class="player player--center">
            <h2 class="dealer_title">Dealer</h2>
            <button (click)="openCard()">Next card</button>
        </div>
        <div class="player">
            <h2 *ngIf="checkPlayer(5)" class="player7_title">{{players[5].name}}</h2>
        </div>
        <div class="player">
        </div>
    </div>
    <div class="row2">
        <div class="player">
            <div class="row1 row1--center">
                <h2 *ngIf="checkPlayer(3)" class="player5_title">{{players[3].name}}</h2>
            </div>
            <div class="row2 row2--center">
                <h2 *ngIf="checkPlayer(2)" class="player4_title">{{players[2].name}}</h2>
            </div>
            <div class="row1 row1--center">
                <h2 *ngIf="checkPlayer(1)" class="player3_title">{{players[1].name}}</h2>
            </div>
        </div>
        <div class="table">
            <img class="table_image" src="../../assets/images/result.png">
            <app-hand class="player1_cards" player="{{playerId}}" player_type="primary"></app-hand>
            <app-hand *ngIf="checkPlayer(0)" class="player2_cards" player="{{players[0].id}}"></app-hand>
            <app-hand *ngIf="checkPlayer(1)" class="player3_cards" player="{{players[1].id}}"></app-hand>
            <app-hand *ngIf="checkPlayer(2)" class="player4_cards" player="{{players[2].id}}"></app-hand>
            <app-hand *ngIf="checkPlayer(3)" class="player5_cards" player="{{players[3].id}}"></app-hand>
            <app-hand *ngIf="checkPlayer(4)" class="player6_cards" player="{{players[4].id}}"></app-hand>
            <app-hand *ngIf="checkPlayer(5)" class="player7_cards" player="{{players[5].id}}"></app-hand>
            <app-hand *ngIf="checkPlayer(6)" class="player8_cards" player="{{players[6].id}}"></app-hand>
            <app-hand *ngIf="checkPlayer(7)" class="player9_cards" player="{{players[7].id}}"></app-hand>
            <app-hand *ngIf="checkPlayer(8)" class="player10_cards" player="{{players[8].id}}"></app-hand>
            <app-hand *ngIf="checkPlayer(9)" class="player11_cards" player="{{players[9].id}}"></app-hand>
            <app-hand class="table_hand" player="{{tableId}}" player_type="table"></app-hand>
            <button *ngIf="isCreator && showButton" class="start_game" (click)="startGame()">Start Game</button>
        </div>
        <div class="player">
            <div class="row1 row1--center">
                <h2 *ngIf="checkPlayer(6)" class="player8_title">{{players[6].name}}</h2>
            </div>
            <div class="row2 row2--center">
                <h2 *ngIf="checkPlayer(7)" class="player9_title">{{players[7].name}}</h2>
            </div>
            <div class="row1 row1--center">
                <h2 *ngIf="checkPlayer(8)" class="player10_title">{{players[8].name}}</h2>
            </div>
        </div>
    </div>
    <div class="row3">
        <div class="player">
        </div>
        <div class="player">
            <h2 *ngIf="checkPlayer(0)" class="player2_title">{{players[0].name}}</h2>
        </div>
        <div class="player player--center">
            <h2 class="player1_title">{{playerName}}</h2>
        </div>
        <div class="player">
            <h2 *ngIf="checkPlayer(9)" class="player11_title">{{players[9].name}}</h2>
        </div>
        <div class="player">
        </div>
    </div>
</div>
