<!-- <div class="container" fxLayout="row" fxLayoutGap="10px">
    <div fxFlex="20">
        <div class="card card--heart" value="4">
            <div class="card__inner">
                <div class="card__column">
                    <div class="card__symbol"></div>
                    <div class="card__symbol"></div>
                </div>
                <div class="card__column">
                    <div class="card__symbol"></div>
                    <div class="card__symbol"></div>
                </div>
            </div>
        </div>    
    </div>
    
    <div class="card card--heart" value="9">
        <div class="card__inner">
            <div class="card__column">
                <div class="card__symbol"></div>
                <div class="card__symbol"></div>
                <div class="card__symbol"></div>
                <div class="card__symbol"></div>
            </div>
            <div class="card__column card__column--centered">
                <div class="card__symbol card__symbol--big"></div>
                <div class="card__symbol card__symbol--big"></div>
            </div>
            <div class="card__column">
                <div class="card__symbol"></div>
                <div class="card__symbol"></div>
                <div class="card__symbol"></div>
                <div class="card__symbol"></div>
            </div>
        </div>
    </div>
</div> -->

<div class="container" fxLayout="row" fxLayoutGap="10px">
    <div fxFlex="30"> Some Text </div>
    <div fxFlex="40"> Some Text </div>
    <div fxFlex="30"> Some Text </div>
 </div>