$gutter: 10px;
$font-md-size: 7px;
$font-size: 12px;

$card-padding: 1px;
$card-width: 100px;
$card-height: 140px;
$card-md-width: 50px;
$card-md-height: 70px;
$card-color-red: #e44145;

.card {
	font: $font-size 'Trebuchet MS';

	width: $card-width;
	height: $card-height;
	@media screen and (max-width: 768px) {
		width: $card-md-width;
		font: $font-md-size 'Trebuchet MS';
		height: $card-md-height;
	}

	margin: $gutter;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.18);
	display: flex;
	
	&--heart, &--diamonds {
		color: $card-color-red;
		
	}
}

.card_value {
	width: 5px;
	letter-spacing: 0px;
	top: $card-padding;
	left: $card-padding;
}

.card_value_rotated {
	width: 5px;
	bottom: $card-padding;
	right: $card-padding;
	transform: rotate(180deg)
}


.card__column {
	flex: 100%;
	flex-direction: column;
	display: flex;
	justify-content: space-around;
	font-size: 1.7em;

	:nth-last-child(1), :nth-last-child(2){
		transform: rotate(180deg);
	}

	:nth-child(1) {
		transform: rotate(0deg);
	}

	@media screen and (max-width: 768px) {
		font-size: 1.5em;
	}
}

.card__symbol {
	text-align: center;

	&--seven {
		position: relative;
		bottom: 17%;
	}

	&--nine {
		position: relative;
		bottom: 25%;
	}

	.card--heart &:before {
		content: '♥';
	}
	
	.card--spade &:before {
		content: '♠';
	}

	.card--clubs &:before {
		content: '♣';
	}

	.card--diamonds &:before {
		content: '♦';
	}
}

.card__face {
	text-align: center;
}

.card_back {
	width: 106%;
	height: 100%;
}