$color: #c0c0c0;
$background: #f0f0f0;
$gutter: 10px;
$font-md-size: 7px;
$font-size: 12px;

$card-background: #fff;
$card-padding: 1px;
$card-width: 100px;
$card-height: 140px;
$card-md-width: 50px;
$card-md-height: 70px;
$card-color-red: #e44145;
$card-color-black: #252525;
$card-symbol-size: 2.5vw;

.card {
	font: $font-size 'Trebuchet MS';

	width: $card-width;
	height: $card-height;
	@media screen and (max-width: 768px) {
		width: $card-md-width;
		font: $font-md-size 'Trebuchet MS';
		height: $card-md-height;
	}

	margin: $gutter;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.18);
	display: flex;

    &:before,
	&:after {
		width: 5px;
		letter-spacing: -2px;
	}
	
	&:before {
		top: $card-padding;
		left: $card-padding;
	}
	
	&:after {
		bottom: $card-padding;
		right: $card-padding;
		transform: rotate(180deg)
	}
	
	&--heart {
		color: $card-color-red;
		
		&:before,
		&:after {
			content: attr(value) ' ♥';
		}
	}

	&--spade{		
		&:before,
		&:after {
			content: attr(value) ' ♠';
		}
	}
}


.card__column {
	flex: 100%;
	flex-direction: column;
	display: flex;
	justify-content: space-around;
	font-size: 1.7em;

	@media screen and (max-width: 768px) {
		font-size: 1.2em;
	}
}

.card__symbol {
	text-align: center;

	&--seven {
		position: relative;
		bottom: 17%;
	}

	&--nine {
		position: relative;
		bottom: 25%;
	}

	.card--heart &:before {
		content: '♥';
	}
	
	.card--spade &:before {
		content: '♠';
	}

	&--rotated {
		transform: rotate(180deg);
	}
}

