<div [ngClass]="getCardClass()" class="card card--{{cardSuit.key}}" *ngIf="isFrontCard" (click)="toggleFrontBack()">
    <div class="card_value">{{cardSelected.value}}<br>{{cardSuit.value}}</div>
    <div class="card__column" *ngFor="let class of cardSelected.classes">
        <div *ngFor="let symbol of class">
            <div class="{{symbol}}" *ngIf="!isFaceCard"></div>
            <div class="{{symbol}}" *ngIf="isFaceCard">
                <img width="80%" height="80%" src="{{cardImage}}">
            </div>
        </div>
    </div>
    <div class="card_value_rotated">{{cardSelected.value}}<br>{{cardSuit.value}}</div>
</div>

<div [ngClass]="getCardClass()" class="card" *ngIf="!isFrontCard" (click)="toggleFrontBack()">
    <img class="card_back" src="../../assets/images/card_back.jpeg">
</div>

