<div fxLayout="row">
    <div fxFlex="10%">
    </div>

    <div fxFlex="80%" class="jumbotron" fxLayout="column" fxLayoutAlign="end center">
        <h1>
            <span class="title">Texas Hold'Em </span>
            <span class="title--poker">
                <span id="p1">P</span>
                <span id="p2">O</span>
                <span id="p3">K</span>
                <span id="p4">E</span>
                <span id="p5">R</span>
            </span>
            
        </h1>
    </div>

    <div fxFlex="10%">
    </div>
</div>

<div fxLayout="row">
    <div fxFlex="10%">
    </div>

    <div fxFlex="80%"  class="form">
        <form novalidate [formGroup]="userForm" #cform="ngForm" (ngSubmit)="onSubmit(buttonType)">
            <div class="form-field form-field--1">
                <h3>Gambler Identity?</h3>
                <div class="form-subfield">
                    <input class="input" formControlName="username" id="username" type="text" placeholder="Create Username">
                </div>
            </div>
            <div class="form-field form-field--2">
                <button type="submit" id="create_game"
                        class="create-join disabled"
                        [disabled]="userForm.invalid"
                        (click)="onSubmit('create')">Create New Game</button>
                <button type="submit" id="join_game"
                        class="create-join disabled"
                        [disabled]="userForm.invalid"
                        (click)="onSubmit('join')">Join Existing Game</button>
            </div>     
        </form>
    </div>

    <div fxFlex="10%">
    </div>
</div>

<div fxLayout="row">
    <div fxFlex="10%">
    </div>

    <div fxFlex="80%" class="form form--join_game">
        <div  *ngIf="joinGame">
            <form novalidate [formGroup]="joinGameForm" #ccform="ngForm" (ngSubmit)="joinNewGame()">
                <div class="form-field form-field--1">
                    <h2>Game Name:</h2>
                    <div class="form-subfield">
                        <input class="input" formControlName="gameName" id="game_name" type="text" placeholder="Game Name">
                    </div>
                    <div>
                        <button type="submit" id="join_id" class="join">Join</button>
    
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div fxFlex="10%">
    </div>
</div>

<div fxLayout="row">
    <div fxFlex="10%">
    </div>

    <div fxFlex="80%" class="footer">
        
    </div>

    <div fxFlex="10%">
    </div>
</div>