<div class="screen">
    <div class="row1">
        <div class="player">
        </div>
        <div class="player">
            <app-player *ngIf="checkPlayer(4)" [player_details]="players[4]"></app-player>
        </div>
        <div class="player player--center">
            <h2 class="dealer_title">Dealer</h2>
            <button (click)="openCard()">Next card</button>
        </div>
        <div class="player">
            <app-player *ngIf="checkPlayer(5)" [player_details]="players[5]"></app-player>
        </div>
        <div class="player">
        </div>
    </div>
    <div class="row2">
        <div class="player">
            <div class="row1 row1--center">
                <app-player *ngIf="checkPlayer(3)" [player_details]="players[3]"></app-player>
            </div>
            <div class="row2 row2--center">
                <app-player *ngIf="checkPlayer(2)" [player_details]="players[2]"></app-player>
            </div>
            <div class="row1 row1--center">
                <app-player *ngIf="checkPlayer(1)" [player_details]="players[1]"></app-player>
            </div>
        </div>
        <div class="table">
            <img class="table_image" src="../../assets/images/result.png">
            <app-player class="table_cards" *ngIf="table.id" [player_details]="table" type="table"></app-player>
            <button *ngIf="isCreator && showButton" class="start_game" (click)="startGame()">Start Game</button>
        </div>
        <div class="player">
            <div class="row1 row1--center">
                <app-player *ngIf="checkPlayer(6)" [player_details]="players[6]"></app-player>
            </div>
            <div class="row2 row2--center">
                <app-player *ngIf="checkPlayer(7)" [player_details]="players[7]"></app-player>
            </div>
            <div class="row1 row1--center">
                <app-player *ngIf="checkPlayer(8)" [player_details]="players[8]"></app-player>
            </div>
        </div>
    </div>
    <div class="row3">
        <div class="player">
        </div>
        <div class="player">
            <app-player *ngIf="checkPlayer(0)" [player_details]="players[0]"></app-player>
        </div>
        <div class="player player--center">
            <app-player *ngIf="checkPlayer(-1)" [player_details]="player" type="primary"></app-player>
        </div>
        <div class="player">
            <app-player *ngIf="checkPlayer(9)" [player_details]="players[9]"></app-player>
        </div>
        <div class="player">
        </div>
    </div>
</div>
