<div class="screen">
    <div class="row1">
        <div class="player">
        </div>
        <div class="player">
            <app-player *ngIf="checkPlayer(5)" player_id="{{playerIds[5]}}" player_class="player5"></app-player>
        </div>
        <div class="player player--center">
            <h2 class="dealer_title">Dealer</h2>
            <button (click)="openCard()">Next card</button>
        </div>
        <div class="player">
            <app-player *ngIf="checkPlayer(6)" player_id="{{playerIds[6]}}" player_class="player6"></app-player>
        </div>
        <div class="player">
        </div>
    </div>
    <div class="row2">
        <div class="player">
            <div class="row1 row1--center">
                <app-player *ngIf="checkPlayer(4)" player_id="{{playerIds[4]}}" player_class="player4"></app-player>
            </div>
            <div class="row2 row2--center">
                <app-player *ngIf="checkPlayer(3)" player_id="{{playerIds[3]}}" player_class="player3"></app-player>
            </div>
            <div class="row1 row1--center">
                <app-player *ngIf="checkPlayer(2)" player_id="{{playerIds[2]}}" player_class="player2"></app-player>
            </div>
        </div>
        <div class="table">
            <img class="table_image" src="../../assets/images/result.png">
            <app-player class="table_cards" *ngIf="tableId" player_id="{{tableId}}" player_class="table" type="table"></app-player>
            <button *ngIf="isCreator && showButton" class="start_game" (click)="startGame()">Start Game</button>
        </div>
        <div class="player">
            <div class="row1 row1--center">
                <app-player *ngIf="checkPlayer(7)" player_id="{{playerIds[7]}}" player_class="player7"></app-player>
            </div>
            <div class="row2 row2--center">
                <app-player *ngIf="checkPlayer(8)" player_id="{{playerIds[8]}}" player_class="player8"></app-player>
            </div>
            <div class="row1 row1--center">
                <app-player *ngIf="checkPlayer(9)" player_id="{{playerIds[9]}}" player_class="player9"></app-player>
            </div>
        </div>
    </div>
    <div class="row3">
        <div class="player">
        </div>
        <div class="player">
            <app-player *ngIf="checkPlayer(1)" player_id="{{playerIds[1]}}" player_class="player1"></app-player>
        </div>
        <div class="player player--center">
            <app-player *ngIf="checkPlayer(0)" player_id="{{playerIds[0]}}" player_class="player0" type="primary"></app-player>
        </div>
        <div class="player">
            <app-player *ngIf="checkPlayer(10)" player_id="{{playerIds[10]}}" player_class="player10"></app-player>
        </div>
        <div class="player">
        </div>
    </div>
</div>
