<div class="container">
    <app-card card=1 suit="spade"></app-card>
    <app-card card=2 suit="spade"></app-card>
    <app-card card=3 suit="spade"></app-card>
    <app-card card=4 suit="spade"></app-card>
    <app-card card=5 suit="spade"></app-card>
    <app-card card=6 suit="spade"></app-card>
    <app-card card=7 suit="spade"></app-card>
    <app-card card=8 suit="spade"></app-card>
    <app-card card=9 suit="spade"></app-card>
    <app-card card=10 suit="spade"></app-card>
    <app-card card=11 suit="spade"></app-card>
    <app-card card=12 suit="spade"></app-card>
    <app-card card=13 suit="spade"></app-card>

    <app-card card=1 suit="heart"></app-card>
    <app-card card=2 suit="heart"></app-card>
    <app-card card=3 suit="heart"></app-card>
    <app-card card=4 suit="heart"></app-card>
    <app-card card=5 suit="heart"></app-card>
    <app-card card=6 suit="heart"></app-card>
    <app-card card=7 suit="heart"></app-card>
    <app-card card=8 suit="heart"></app-card>
    <app-card card=9 suit="heart"></app-card>
    <app-card card=10 suit="heart"></app-card>
    <app-card card=11 suit="heart"></app-card>
    <app-card card=12 suit="heart"></app-card>
    <app-card card=13 suit="heart"></app-card>

    <app-card card=1 suit="diamonds"></app-card>
    <app-card card=2 suit="diamonds"></app-card>
    <app-card card=3 suit="diamonds"></app-card>
    <app-card card=4 suit="diamonds"></app-card>
    <app-card card=5 suit="diamonds"></app-card>
    <app-card card=6 suit="diamonds"></app-card>
    <app-card card=7 suit="diamonds"></app-card>
    <app-card card=8 suit="diamonds"></app-card>
    <app-card card=9 suit="diamonds"></app-card>
    <app-card card=10 suit="diamonds"></app-card>
    <app-card card=11 suit="diamonds"></app-card>
    <app-card card=12 suit="diamonds"></app-card>
    <app-card card=13 suit="diamonds"></app-card>

    <app-card card=1 suit="clubs"></app-card>
    <app-card card=2 suit="clubs"></app-card>
    <app-card card=3 suit="clubs"></app-card>
    <app-card card=4 suit="clubs"></app-card>
    <app-card card=5 suit="clubs"></app-card>
    <app-card card=6 suit="clubs"></app-card>
    <app-card card=7 suit="clubs"></app-card>
    <app-card card=8 suit="clubs"></app-card>
    <app-card card=9 suit="clubs"></app-card>
    <app-card card=10 suit="clubs"></app-card>
    <app-card card=11 suit="clubs"></app-card>
    <app-card card=12 suit="clubs"></app-card>
    <app-card card=13 suit="clubs"></app-card>
</div>